<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Aula 20</title>

</head>
<body>
    <main class="container">
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">Sucesso</h1>
                <p class="lead">Os dados desse aluno foram gravado corretamente</p>
                <hr class="my-4">
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="http://localhost:8080/" role="button">Voltar</a>
                </p>
            </div>        
        </main>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>